doctype html
html
  head
    meta(charset='utf-8')
    title WFC
    link(rel='stylesheet' href='style.css')

  body
    pre#out
    button#play play
    button#next next
    button#reset reset

    script(src='https://unpkg.com/lodash')
    script(src='https://unpkg.com/cash-dom')
    script(src='wfc.js')
    script(src='main.js')